/*--------------------------
        Google-Font
--------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500;700&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    padding-left: 40px;
}

/*-----------------------------------
        Header section style 
--------------------------------------*/

.header-nav{
    display: grid;
    grid-template-columns: 1fr .7fr;
}

.user-nav a, 
.site-name a{
    margin-right: 34px;
    color: #3A3A3A;
    text-decoration: none;
    font-weight: 600;
}

.site-name h3{
    margin: 0;
}

.heading{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10em;
    justify-content: space-evenly;
    align-items: center;
}

.heading-article{
    width: 582px;
    height: 270px;
}

.heading-article h1{
    width: 582px;
}

.heading-article p{
    width: 400px;
    word-wrap: wrap;
}

.button{
    color: #ffffff;
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
}

.heading-image{
    width: 440px;
    height: 414px;
}

.heading-image img{
    width: 440px;
    height: 414px;
}

.heading-image img:hover{
    transform: rotate(360deg);
    transition: transform 2s;
}

    /* Logo */
.logo-set{
    width: 1110px;
    height: 110px;
    /* margin-top: ; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    border: 1px solid black;

}

.logo img{
    width: 55px;
    height: 31px;
}

/*--------------------------------
        Main-Section-Style
----------------------------------*/

main> h2{
    text-align: center;
    margin-bottom: 40px;
}

/*----------Collection---------*/

.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: .5em;
    grid-row-gap: 30px;
}

.item{
    width: 329px;
    height: 476px;
    padding-left: 14px;
    padding-right: 15px;
    color: #18191F;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.item-image{
    width: 300px;
}

.item-image img{
    width: 300px;
    height: 256px;
}

.item-name{
    width: 300px;
}

.item-name h1{
    margin-top: 6px;
    margin-bottom: 5px;
    font-weight: 500;
}

.item-price{
    width: 82px;
    height: 36px;
}

.item-price h2{
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 400;
}

.fa-star{
    width: 11px;
    height: 10px;
    color: #FB8200;
}

.item-rating{
    width: 300px;
}

.item-rating p{
    color: #5E6366;
    display: inline;
    margin-left: 8px;
    width: 300px;
}

.unfilled{
    color: #787885;
}

.item-detail{
    width: 196px;
    height: 61px;
    color: #787885;
}
.item-detail p{
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/* Button */
.see-more a{
    color: #E02C6D;
    text-decoration: none;
}

/* --------Review section---------------- */

.happy-customer{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-column-gap: 10px;
    justify-items: center;
    align-items: center;
}

.happy-customer div:nth-child{
    border: 1px solid black;
    border-radius: 10px;
}

/* .happy-customer article{

} */

/*------------------------------
     Fotter Section style 
-------------------------------*/
.foot-container{
    width: 1167px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #3A3A3A;
}

.foot-detail{
    width: 500px;
    height: 120px;
    text-align: center;
}

.foot-detail h4{

    margin-top: 20px;
    margin-bottom: 0;
}

.foot-detail p{
    margin: 0;
}
